<section class="py-32">
    <div class="container mx-auto px-8 lg:px-0">
        <div class="flex flex-col items-start w-full">
            <img class="mb-8" src="/dist/img/bethany-logo-dark.svg" alt="Bethany Christian Care">
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 w-full">
                <div class="w-full">
                    <div class="w-full bg-orange-500 h-sm"></div>
                    <div class="p-8">
                        <h3 class="font-serif">The Plains</h3>
                        <p>333 Underwood Road<br>Eight Mile Plains, QLD 4113</p>
                        <p class="mb-0"><i class="far fa-phone mr-4"></i>07 3737 5000</p>
                        <p><i class="far fa-envelope mr-4"></i>theplains@bethanycc.org.au</p>
                    </div>
                </div>
                <div class="w-full">
                    <div class="w-full bg-teal-500 h-sm"></div>
                    <div class="p-8">
                        <h3 class="font-serif">Janoah Gardens</h3>
                        <p>333 Underwood Road<br>Eight Mile Plains, QLD 4113</p>
                        <p class="mb-0"><i class="far fa-phone mr-4"></i>07 3737 5000</p>
                        <p><i class="far fa-envelope mr-4"></i>theplains@bethanycc.org.au</p>
                    </div>
                </div>
                <div class="w-full">
                    <div class="w-full bg-navy-500 h-sm"></div>
                    <div class="p-8">
                        <h3 class="font-serif">Beth Eden</h3>
                        <p>333 Underwood Road<br>Eight Mile Plains, QLD 4113</p>
                        <p class="mb-0"><i class="far fa-phone mr-4"></i>07 3737 5000</p>
                        <p><i class="far fa-envelope mr-4"></i>theplains@bethanycc.org.au</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>