{% extends 'layouts/base.twig' %}
    {% block main %}

        <section class="relative z-0 pt-16 bg-orange-100 shadow-inner">
            <div class="container mx-auto text-center">
                <h1 class="font-serif mb-0">Our Locations</h1>
            </div>
            <svg class="w-full" viewBox="0 0 1440 156" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Artboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Group-21" transform="translate(-320.000000, -190.000000)">
                        <rect id="Rectangle-Copy-3" fill="#FFF5F0" x="324" y="69" width="1440" height="281"></rect>
                        <path d="M2345.80408,12.4665766 C2420.80332,35.6744006 2486.73805,110.199186 2470.75241,187.168452 L2480,247.354171 C2450.6949,319.128563 2420.27714,392.663882 2367.21372,449.12459 C2353.80489,463.391549 2338.57826,476.38138 2322.10969,487.476229 L2322.1077,487.46426 C2307.10822,485.456674 2292.12239,483.718636 2277.17193,482.248864 C1934.53296,448.564216 1589.43566,521.352735 1244.9073,519.948523 C1073.0364,519.245797 901.780984,500.049732 732.554616,470.936596 C644.921514,455.856236 553.780438,438.283404 468.151368,464.168688 C382.525339,490.051858 305.867816,575.715661 322.029246,665.414236 L310.009309,735.236754 C316.585012,752.799797 323.214084,770.453341 330.125259,787.99911 C218.087328,765.474494 113.578418,704.488706 40.6213491,616.183261 C21.4599713,592.988768 3.83936851,566.655125 0.566743253,536.726033 C-2.19645572,511.486668 5.56027439,486.32205 14.8102936,462.685734 C125.720785,179.381015 447.595307,33.2104718 750.365978,8.02550766 C1053.13665,-17.1594565 1356.01495,49.258088 1659.82703,51.857731 C1811.38631,53.1526732 1962.76069,38.5350789 2112.53785,15.3655975 C2190.09935,3.36372701 2270.80219,-10.7430996 2345.80408,12.4665766 Z" id="Combined-Shape-Copy" fill="#FFFFFF" transform="translate(1240.000000, 394.000000) scale(1, -1) translate(-1240.000000, -394.000000) "></path>
                    </g>
                </g>
            </svg>
        </section>

        {% include 'blocks/blocks.twig' %}


        <section class="bg-navy-500 py-8 lg:py-32">
            <div class="container mx-auto text-center px-8 lg:px-0">
                {% set icon = bookInspection.icon.one() %}
                <img class="mx-auto mb-8" src="{{ icon.url }}" alt="{{ icon.title }}">
                <h3 class="font-serif text-white">{{ bookInspection.heading }}</h3>
                <h5 class="text-white">{{ bookInspection.subheading }}</h5>
            </div>
        </section>


    {% endblock %}