{% if block.formPopupButton %}
    <div class="container mx-auto">
        <div class="w-3/4 mx-auto">
            <a class="triggerForm bg-navy-500 text-white py-4 px-8 rounded-full mx-auto block w-1/4 font-bold text-center" href="#">{{ block.formPopupButton }}</a>
        </div>
    </div>

    <div style="z-index: 1000;display: none;" class="formModal w-full h-screen fixed bg-navy-900 bg-opacity-75 inset-0 flex items-center justify-center">
        <div class="container bg-white p-8 rounded relative">
            <a href="#" class="closeModal text-2xl absolute" style="right:1rem;top:1rem;"><i class="fas fa-times-circle"></i></a>
            <h4>{{ block.formPopupButton }}</h4>
            {{ craft.formie.renderform(block.forms.one().handle) }}
        </div>
    </div>
{% else %}
    <div class="container mx-auto">
        <div class="w-3/4 mx-auto">
            {{ craft.formie.renderform(block.forms.one().handle) }}
        </div>
    </div>
{% endif %}

<script>
    jQuery(document).ready(function($){
        $('a.triggerForm').on('click', function(e){
            e.preventDefault();
            $('.formModal').fadeIn();
        });
        $('a.closeModal').on('click', function(e){
            e.preventDefault();
            $('.formModal').fadeOut();
        });
    });
</script>