<section class="pt-16 pb-32">
    <div class="container mx-auto px-8 lg:px-0">
        <h2 class="font-medium mb-8 leading-none">Our locations</h2>
        <p class="mb-8 w-1/2">
            We create beautiful environments for our residents that cover
            the full spectrum of seniors' accommodation and care needs.
        </p>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
            <div class="bg-grey-100 rounded-b-md">
                <a href="#" class="overflow-hidden block rounded-t-md">
                    <img class="w-full transform scale-100 hover:scale-110 transition duration-500 ease-in-out" src="/dist/img/placeholder-3.jpg">
                </a>
                <div class="bg-orange-500 h-sm w-full"></div>
                <div class="p-8">
                    <h4 class="font-serif">The Plains</h4>
                    <p class="text-navy-300 text-sm">
                        Independent living | Serviced apartments 
                        Residential aged care | Secure dementia care
                    </p>
                    <p>
                        Located in the heart of Brisbane's south at
                        Eight Mile Plains, The Plains is known for
                        its beautiful, home-like environment.
                    </p>
                    <a href="#" class="py-4 px-8 rounded-full border border-navy-500 inline-block transition ease-in duration-200 font-bold hover:text-white hover:bg-navy-500">
                        Learn more
                    </a>
                </div>
            </div>

            <div class="bg-grey-100 rounded-b-md">
                <a href="#" class="overflow-hidden block rounded-t-md">
                    <img class="w-full transform scale-100 hover:scale-110 transition duration-500 ease-in-out" src="/dist/img/placeholder-4.jpg">
                </a>
                <div class="bg-teal-500 h-sm w-full"></div>
                <div class="p-8">
                    <h4 class="font-serif">Janoah Gardens</h4>
                    <p class="text-navy-300 text-sm">
                        Independent living | Serviced Apartments | Residential aged care
                    </p>
                    <p>
                        Enjoy fresh sea breezes and bayside living at Janoah
                        Gardens in Manly. Be part of loving, close-knit
                        community.
                    </p>
                    <a href="#" class="py-4 px-8 rounded-full border border-navy-500 inline-block transition ease-in duration-200 font-bold hover:text-white hover:bg-navy-500">
                        Learn more
                    </a>
                </div>
            </div>

            <div class="bg-grey-100 rounded-b-md">
                <a href="#" class="overflow-hidden block rounded-t-md">
                    <img class="w-full transform scale-100 hover:scale-110 transition duration-500 ease-in-out" src="/dist/img/placeholder-5.jpg">
                </a>
                <div class="bg-navy-500 h-sm w-full"></div>
                <div class="p-8">
                    <h4 class="font-serif">Beth Eden</h4>
                    <p class="text-navy-300 text-sm">
                        Independent living | Residential aged care | Secure dementia care
                    </p>
                    <p>
                        Be part of a large, warm family at Beth Eden, a
                        lush and leafy location on the banks of the river
                        at Graceville.
                    </p>
                    <a href="#" class="py-4 px-8 rounded-full border border-navy-500 inline-block transition ease-in duration-200 font-bold hover:text-white hover:bg-navy-500">
                        Learn more
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>