<div class="container mx-auto">
    {% set locationLogos = block.locationLogos.all() %}
    <div class="flex space-x-0 lg:space-x-16 w-full flex-col flex-wrap justify-center lg:px-0 lg:flex-row">
        {% for logo in locationLogos %}
            <div class="lg:w-1/4 px-32 lg:px-0 mb-8 lg:mb-0">
                <img class="w-full" src="{{ logo.url }}" alt="{{ logo.title }}">
            </div>
        {% endfor %}
    </div>
</div>