<div class="container mx-auto richText px-8 lg:px-0 {% if backgroundColour == 'bg-navy-500' %}text-white{% endif %}">
    <div class="w-full lg:w-3/4 {% if not block.alignLeftToContainer %}mx-auto{% endif %}">
        {{ block.richText }}
    </div>

    {% if block.buttons|length %}
        <div class="mt-auto">
            {% set buttons = block.buttons.all() %}
            {% for button in buttons %}
                {% if button.internalLink | length %}
                    {% set link = button.internalLink.one().url %}
                {% else %}
                    {% set link = button.buttonUrl %}
                {% endif %}
                <a class="{{ button.buttonStyle }} px-8 lg:px-12 py-4 mr-4" href="{{ link }}">{{ button.buttonText }}</a>
            {% endfor %}
        </div>
    {% endif %}
</div>