<section class="bg-navy-500 py-16 relative z-10">
    <img class="absolute top-0 w-full" src="/dist/img/testimonial-top-curve.jpg">
    <div class="container mx-auto text-center text-white pt-16 lg:pt-32 pb-0 px-16">
        <h4 class="font-serif text-base lg:text-2xl">
            Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
        </h4>
        <h6>Dapibus Malesuada, Magna Condimentum</h6>
    </div>
</section>
<section class="relative z-10" style="margin-bottom: -60px;">
    <img class="absolute top-0 w-full" src="/dist/img/testimonial-bottom-curve.svg">
</section>