<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bethany Christian Care</title>
    <link rel="stylesheet" href="/dist/css/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/hpy3xqq.css">
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body class="font-sans text-textPrimary relative">

    <section class="bg-navy-500 text-center text-white py-4">
        <p class="mb-0"><span class="text-pink-500">Alert:</span> advice regarding recent COVID19 outbreak</p>
    </section>

    <img class="absolute right-0 z-10" src="/dist/img/corner-curves.svg">

    <header>
        <div class="container mx-auto flex flex-row justify-between items-center">
            <div class="w-1/4">
                <img src="/dist/img/bethany-logo-dark.svg" alt="Bethany Christian Care">
            </div>
            <div class="w-7/12 pt-16">
                <ul class="flex flex-row justify-end text-lg pb-4">
                    <li class="ml-8"><a href="#">About</a></li>
                    <li class="ml-8"><a href="#">Careers</a></li>
                    <li class="ml-8"><a href="#">News</a></li>
                    <li class="ml-8"><a href="#">Contact</a></li>
                </ul>
                <ul class="flex flex-row justify-between border-t border-navy-200 text-2xl">
                    <li><a class="py-8 border-white border-b-4 hover:border-pink-300 inline-block" href="#">Locations</a></li>
                    <li class="ml-8"><a class="py-8 border-white border-b-4 hover:border-pink-300 inline-block" href="#">Residential aged care</a></li>
                    <li class="ml-8"><a class="py-8 border-white border-b-4 hover:border-pink-300 inline-block" href="#">Independent living</a></li>
                </ul>
            </div>
            <div class="w-1/12"></div>
        </div>
    </header>

    <section class="bg-orange-100 relative">
        <div class="container mx-auto">
            <div class="w-1/2 py-32 pr-32">
                <h1 class="font-serif leading-tight">
                    Godly care,<br>abundant lives
                </h1>
                <p class="text-xl">
                    I have come that they may have life, and that they may have it more abundantly.
                </p>
                <p class="text-sm text-pink-500">John 10:10</p>
            </div>
        </div>
        <div class="absolute w-1/2 right-0 top-0 h-full overflow-hidden">
            <img src="https://picsum.photos/1200" class="object-cover h-full w-full">
        </div>

        <img class="absolute w-full" src="/dist/img/top-curve.svg" style="bottom:-2px;">
    </section>
    <section class="bg-calloutBg w-full">
        <div class="container mx-auto py-32">
            <h1>This is a container</h1>
        </div>
    </section>
</body>
</html>