@tailwind base;

@tailwind components;

@tailwind utilities;

@import "../../node_modules/aos/dist/aos.css";

$hamburger-padding-x: 0px;
$hamburger-padding-y: 0px;

@import '~hamburgers/_sass/hamburgers/hamburgers';
@import './header.scss';
@import './typography.scss';
@import './buttons.scss';
@import './slideshow.scss';

.hideScrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}